@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

:root {
    --main-color: darkred;
    --text-color: rgb(48, 41, 41);
    --bg-color: white;
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.car-images::-webkit-scrollbar {
    width: 3px; /* Thin scrollbar */
}

.car-images::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
    border-radius: 8px; /* Rounded corners for the track */
}

.car-images::-webkit-scrollbar-thumb {
    background-color: transparent; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    transition: background-color 0.5s ease;
}
/* Show scrollbar thumb on hover */
.car-images:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Scrollbar color when scrolling */
}

/* For Firefox */
.car-images {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Thumb and track color */
    transition: scrollbar-color 0.3s ease;
}
.car-images:hover {
    scrollbar-color: var(--main-color) transparent; /* Show thumb color on hover */
}

/* Optional: Internet Explorer and Edge (before Chromium-based Edge) */
.car-images {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}



/* Main Content Area */

.admin-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: var(--main-color);
}

.main-content {
    flex: 1;
    padding: 20px;
}

.add-user-section {
    display: table-caption;
    padding: 10px;
}

.add-user-form label {
    display: block;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
}

#user-table th,
#user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#user-table th {
    background: #f4f4f4;
}
